<nav class='navbar'>
    <div class='navbar-brand'>
        <a href='/' class='navbar-item'>
            <h1 class='title'>Natufriend</h1>
        </a>
    </div>
    {{#if user}}
        <div class='container container-user-actions'>
            <span>
                Bienvenidx
                <b>{{user.name}}</b>. Tu rol es
                {{user.role}}
            </span>
            <a href='/chat'><button class='btn btn-primary'>Ir al chat</button></a>
            <a href='/products'><button class='btn btn-primary'>Ir a la tienda</button></a>
            <a href='/api/session/logout'><button class='btn btn-danger'>Logout</button></a>
        </div>
    {{/if}}
</nav>