html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color:hsla(236,68%,60%,1);
    background-image:
        radial-gradient(at 13% 91%, hsla(236,68%,60%,1) 0px, transparent 50%),
        radial-gradient(at 51% 100%, hsla(191,91%,65%,1) 0px, transparent 50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(4, 43, 43);
}

h1{
    margin-top: 10px;
}

#form-login > *{
    font-weight: 400;
}

.container-login-view{
    margin: 20px;
}

.message-error-login{

    color: rgb(165, 4, 4);
}
.hidden{
    display: none;
}

.navbar{
    background-color:lightblue ;
}

.navbar-item{
    color: black;
}

.categories{
    padding: top 20px;
}

a{
    color: whitesmoke
}

.card-title{
    font-size: 14pt;
}

.card-text > p{
    font-size: 10pt;
}

.btn-card-addtocart{
    font-size: 10pt;
}